In [52]:
import pandas as pd

# Import file from GitHub public repo
url = input ("Enter data URL:")
df = pd.read_csv(url, sep="\t")
df.head()

Enter data URL: https://raw.githubusercontent.com/FedeTelo/Bookclub/master/Mean%20Intensity_488%20(1).txt

,Absolute time,Trace 140,Trace 144,Trace 228,Trace 112,Trace 156,Trace 74,Trace 182,Trace 211,Trace 183,...,Trace 94,Trace 32,Trace 42,Trace 164,Trace 220,Trace 138,Trace 246,Trace 273,Trace 134,Trace 205
0,0,6.929464,7.092237,10.564115,7.390811,7.918076,7.718916,6.878654,6.860854,6.730455,...,6.924083,7.485680,7.319573,8.584515,NaN,7.106804,7.638743,6.723999,6.975159,6.800940
1,1,6.964351,7.087566,7.073328,7.455803,7.992908,7.742458,6.760736,6.732841,6.631008,...,NaN,7.550891,7.379805,8.356564,NaN,7.150409,7.580169,6.621912,7.026879,6.684783
2,2,6.973203,7.112322,NaN,7.476384,8.000161,7.727140,6.737988,6.712292,6.654981,...,NaN,7.462183,7.359711,8.015434,NaN,7.153518,7.616949,6.604996,7.004322,6.686730
3,3,6.974659,7.113944,NaN,7.565403,8.020098,7.754188,6.721016,6.708002,6.652426,...,NaN,7.442832,7.393226,7.195707,7.488058,7.145274,7.645913,6.602931,6.994892,6.687513
4,4,6.941163,7.074621,NaN,7.707350,8.039294,7.699274,6.723001,6.704089,6.658320,...,NaN,7.402727,7.320059,7.187252,7.436932,7.120495,7.675338,6.601367,6.961015,6.686474

In [53]:
# Use the Melt function to tidy the data
df = pd.melt (df, id_vars =["Absolute time"], value_vars =list(df.columns)[1:], var_name="trace", value_name="value")
df.head()

   Absolute time      trace     value
0              0  Trace 140  6.929464
1              1  Trace 140  6.964351
2              2  Trace 140  6.973203
3              3  Trace 140  6.974659
4              4  Trace 140  6.941163

In [54]:
# Rename columns
df = df.rename(columns={"Absolute time": "timepoint"})
df.head()

   timepoint      trace     value
0          0  Trace 140  6.929464
1          1  Trace 140  6.964351
2          2  Trace 140  6.973203
3          3  Trace 140  6.974659
4          4  Trace 140  6.941163

In [55]:
# remove Trace text from trace column
df["trace"] = df["trace"].str.replace(r'Trace ', '').astype(int)
df.head()

   timepoint  trace     value
0          0    140  6.929464
1          1    140  6.964351
2          2    140  6.973203
3          3    140  6.974659
4          4    140  6.941163